<!DOCTYPE html>
<html>
<head>
  <title>Snake.js</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
</head>
<body>

<a href="https://github.com/jhamon/snake.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class="container">
  <%= yield %>
</div>

<script type="application/javascript">
  var bootstrappedScores = <%= HighScore.order(score: :desc).page(1).to_json.html_safe %>
</script>
  
</script>

</body>
</html>
